pyparsing
pandas
pydantic==1.10.12
makefun==1.15.1
ipywidgets==8.1.2
pycryptodomex
boto3
tzlocal
tqdm
requests
ruamel.yaml
ipython
jsonpatch
mistune==2.0.4
jinja2
jsonschema==4.19.2
scipy
altair
Click
colorama
cryptography
snowflake-snowpark-python
sqlalchemy
chardet
asn1crypto
marshmallow
slack-sdk==3.31.0